@model IEnumerable<DelieveryWebApplication.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create">Додати нового клієнта</a>
</p>
<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Clients", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export" > Завантажити </a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
