@model DelieveryWebApplication.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelieveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelieveryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courier.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Змінити</a> |
    <a asp-action="Index">Повернутись назад</a>
</div>
